
#pic1 {
    float: left;
    padding: 10px;
    width: 150px;
   /*display: none;*/
}
.pic2 {
    display: none;
}
#contact{
    display: none;
}

h0{
    color: #f2f2f2;
    background: #ff4a4a;
    font-size: 37.85px;
    line-height: 74px;
    font-weight: 700;

    font-family: 'Libre Baskerville', serif;
}
#chart-div{
    float: right;
    float:top;
    border: solid;
    height: 700px;
    width: 500px;
}
/*
#intro{
    width: 735px;
}

#main{
    width: 735px;
}
#container{
    width: 735px;
}
#page1{
    width: 735px;
}*/