
#pic1 {
    float: left;
    padding: 10px;
    width: 150px;
   /*display: none;*/
}
.pic2 {
    display: none;
}
#contact{
    display: none;
}

h0{
    color: #f2f2f2;
    background: #ff4a4a;
    font-size: 37.85px;
    line-height: 74px;
    font-weight: 700;

    font-family: 'Libre Baskerville', serif;
}
#chart-div{
    float: right;
    float:top;

    height: 700px;
    width: 550px;

    padding-left: 855px;
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;

}
#page1{

    height: 170px;
    width: 845px;
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;


}
#tile{
    float: left;
    float:top;
    height: 600px;
    width: 700px;
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;

}

